In [ ]:
# Интересные задачи

Напишите программу, которая формирует карточку для личного дела ребёнка. Карточка создаётся на основе имени ребёнка и трёхзначного номера шкафчика, который содержит:

Первую цифру — номер группы. Вторую цифру — номер кроватки. Третью цифру — порядковый номер ребёнка в списке группы.
Формат ввода

В первой строке записано имя ребенка.
Во второй строке записан номер шкафчика.

Формат вывода

Карточка в виде:

    Группа №<номер группы>.  
    <номер ребёнка в списке>. <имя ребенка>.  
    Шкафчик: <номер шкафчика>.  
    Кроватка: <номер кроватки>.

In [1]:
name = input()
cabinet_id = int(input())
group_id = cabinet_id // 100
bed_id = cabinet_id // 10 % 10
child_id = cabinet_id % 10

print(
    'Группа №{}.\n{}. {}.\nШкафчик: {}.\nКроватка: {}.'.format(
        group_id,
        child_id,
        name,
        cabinet_id,
        bed_id
    )
)

Ванечка
832
Группа №8.
2. Ванечка.
Шкафчик: 832.
Кроватка: 3.

Напишите программу для робота-няни, которая из числа вида abcd составляет число badc.
Формат ввода

Одно четырёхзначное число.
Формат вывода

Одно четырёхзначное число — результат перестановки.

In [2]:
num = int(input())

a = str(num // 1000)
b = str(num // 100 % 10)
c = str(num // 10 % 10)
d = str(num % 10)

badc = b + a + d + c
print(int(badc))

1234
2143

Напишите программу, которая складывает два числа поразрядно без учёта переносов. Каждая пара цифр суммируется независимо, и результат записывается в соответствующий разряд.
Формат ввода

В первой строке записано натуральное число меньше 1000. Во второй строке записано натуральное число меньше 1000.
Формат вывода

Одно число — результат сложения введённых чисел без учёта переносов.

In [3]:
num_1 = int(input())
num_2 = int(input())

first = str(((num_1 // 100) + (num_2 // 100)) % 10)
second = str(((num_1 // 10 % 10) + (num_2 // 10 % 10)) % 10)
third = str(((num_1 % 10) + (num_2 % 10)) % 10)

print(int(first + second + third))

123
99
112

Сегодня в N часов M минут владелец магазина заказал доставку нового товара.
Оператор сообщил, что продукты доставят через T минут.
Сколько будет времени на электронных часах, когда привезут долгожданные продукты?
Формат ввода

В первой строке записано натуральное число N.
Во второй строке записано натуральное число M.
В третьей строке записано натуральное число T.
Формат вывода

Одна строка, представляющая циферблат электронных часов.

In [4]:
current_hours = int(input())
current_minutes = int(input())
minutes_to_delivery = int(input())

total_mins = current_hours * 60 + current_minutes + minutes_to_delivery

delivery_hours = total_mins // 60 % 24
delivery_mins = total_mins % 60

print(f'{delivery_hours:0>2}:{delivery_mins:0>2}')

10
15
2752
08:07

Напишите программу, которая поможет магазину посчитать общую сумму выручки, учитывая, что кассовый аппарат выдаёт сумму последней покупки в двоичной системе счисления.
Формат ввода

В первой строке записано десятичное число — общая сумма купленных в магазине товаров на данный момент.
Во второй строке указано двоичное число — сумма за последнюю покупку.
Формат вывода

Одно десятичное число — сумма прибыли за день с учётом последней покупки.

In [5]:
base_10_num = int(input())
base_2_num = input()

last_purchase = int(base_2_num, 2)
total_receipt = base_10_num + last_purchase

print(total_receipt)

123
1101
136

А пока как насчет того, чтобы научиться конвертировать числа из двоичной в десятичную систему?

Продолжаем работать с задачей. Кстати, несмотря на ошибку аппарата, сдачу тоже нужно отдавать.
Формат ввода

Цена покупки — двоичное число, выданное кассовым аппаратом.
Номинал купюры пользователя — десятичное число (≥100).
Формат вывода

Одно десятичное число — сдача, которую требуется отдать пользователю.

In [6]:
num_1 = input()
num_2 = int(input())

num_1_to_base_10 = int(num_1, 2)
change = num_2 - num_1_to_base_10

print(change)

1001001
100
27

Напишите программу, которая выводит красиво оформленный чек. Все строки в чеке должны быть длиной ровно 35 символов, текст выровнен в соответствии с примером.
Формат ввода

    Название товара (строка);
    цена товара (натуральное число);
    вес товара (натуральное число);
    количество денег у пользователя (натуральное число).

Формат вывода

Красивый чек в формате:

    ================Чек================
    Товар:                    <продукт>
    Цена:     <число>кг * <число>руб/кг
    Итого:                   <число>руб
    Внесено:                 <число>руб
    Сдача:                   <число>руб
    ===================================

In [7]:
product_name = input()
product_price = int(input())
product_weight = int(input())
user_money = int(input())

design_1 = '='
design_2 = ' '
sec_line = (30 - len(f"{product_weight}кг * {product_price}руб/кг"))
third_line = (29 - len(f"{product_weight * product_price}руб"))
change = user_money - (product_weight * product_price)
fourth_line = (29 - len(f"{change}руб"))


print(
    f'{design_1 * 16}Чек{design_1 * 16}\n'
    f'Товар:{design_2 * (29 - len(product_name))}{product_name}\n'
    f'Цена:{design_2 * sec_line}{product_weight}кг * {product_price}руб/кг\n'
    f'Итого:{design_2 * third_line}{product_weight * product_price}руб\n'
    f'Внесено:{design_2 * (27 - len(f"{user_money}руб"))}{user_money}руб\n'
    f'Сдача:{design_2 * fourth_line}{change}руб\n'
    f'{design_1 * 35}'
)

черешня
2
3
10
================Чек================
Товар:                      черешня
Цена:                 3кг * 2руб/кг
Итого:                         6руб
Внесено:                      10руб
Сдача:                         4руб
===================================

Задача про хозяина магазина, который любит автоматизацию:


> Пару дней назад я купил две партии котлет и по случайности высыпал их на один прилавок. Общий вес котлет составил N килограмм, а ценник — M рублей за килограмм.
Сегодня я обнаружил, что накладные на эти виды котлет потерялись, но я помню, что первый вид котлет стоил K1​ рублей за килограмм, а второй — K2​. Помогите мне вспомнить вес каждой партии котлет, чтобы поставить их на учёт.


Формат ввода

    В первой строке записано натуральное число N
    Во второй строке — натуральное число M
    В третьей строке — натуральное число K1​
    В четвёртой строке — натуральное число K2​
    Причём доподлинно известно, что второй вид котлет стоит меньше, чем первый.
Формат вывода

Два натуральных числа, записанных через пробел — вес обеих партий котлет.

In [8]:
kilos = int(input())
price = int(input())
first_specie_price = int(input())
second_specie_price = int(input())

total_price = price * kilos
first_step = (total_price - second_specie_price * kilos)
second_step = first_specie_price - second_specie_price
first_weight = first_step / second_step
second_weight = kilos - first_weight

print(int(first_weight), int(second_weight), sep=' ')

32
285
300
240
24 8